@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/FontsFree-Net-SFProText-Regular.ttf");
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SFProDisplay";
  color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.banner {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
  max-width: 414px;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 100%;
  background-size: cover;
}
.banner-wrapper {
  position: absolute;
  width: 100%;
}

.banner__header-item img {
  margin-top: 8px;
  width: 24px;
  height: 24px;
  /* color: rgba(255, 255, 255, 0.4); */
  /* filter: grayscale(100%); */
}

.banner__header-item img:hover {
  filter: opacity(60%);
}

.banner__header-item-descriptions {
  font-size: 13px;
  line-height: 41px;
  letter-spacing: -0.216667px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.banner__header-item-descriptions:hover {
  color: rgba(255, 255, 255, 1);
}

.banner__header-items {
  width: 100%;
  padding: 0 20px;
  top: 35px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.banner__logo {
  top: 200px;
  left: 10px;
  right: 10px;
  position: absolute;
  text-align: center;
  color: #ffffff;
}

.banner__logo-title-h1 {
  font-family: SFProDisplay;
  font-size: 36px;
  line-height: 42px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner__logo-description-items {
  position: relative;
  font-family: SFProText;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.321111px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
  margin-left: 80px;
}

.banner__logo-description-item {
  display: flex;
  /* margin-left: 80px; */
  margin-top: 5px;
}

.logo-description-item-1 {
  margin-top: 7px;
  width: 26px;
  height: 15px;
}
.logo-description-item-2 {
  margin-top: 5px;

  width: 26px;
  height: 22px;
}
.logo-description-item-3 {
  margin-top: 4px;
  width: 26px;
  height: 22px;
}

.banner__logo-description-item span {
  font-family: SFProText;
  display: flex;
  padding-left: 8px;
  font-size: 17px;
}

.price-rate-inner {
  top: 495px;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 0 39px;
}
.price-rate__first,
.price-rate__second {
  text-align: center;
  position: relative;
}

.price-rate__block {
  width: 131px;
  height: 162px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s;
  opacity: 0.5;
  cursor: pointer;
}

.price-rate__block.active {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.price-rate__first {
  background-image: url(../svg/shape-1.svg);
}

.price-rate__second {
  background-image: url(../svg/shape-2.svg);
}

.price-rate__title {
  margin-top: 23px;
  font-family: SFProDisplay;
  font-size: 18.7px;
  line-height: 22px;
}
.price-rate__price-big {
  margin-top: 18px;
  font-family: SFProDisplay;
  font-size: 24px;
  line-height: 15px;
}
.price-rate__price-big-plus {
  font-size: 15.4px;
}
.price-rate__price-description {
  padding-top: 1px;
  margin-top: 10px;
  font-family: SFProDisplay;
  font-size: 15.4px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #495795;
  width: 137px;
  height: 20px;
  position: absolute;
  left: -3px;
}

.price-rate__price-little {
  margin-top: 40px;
  font-family: SFProDisplay;
  font-size: 14px;
  line-height: 14px;
}

.price-rate__price-point {
  position: absolute;
  width: 34px;
  height: 34px;
  background-color: #db0000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: SFProDisplay;
  font-size: 12px;
  line-height: 12px;
  top: -2.5px;
  right: -2.5px;
}
.button_submit {
  position: absolute;
  top: 680px;
  left: 50%;
  width: 280px;
  border-radius: 30px;
  height: 54px;
  margin-right: -50%;
  transform: translate(-50%);
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 60%);
}
.btn-link:hover,
.btn-link:active {
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
}
.btn-link {
  padding: 15px 102px;
  border-radius: 30px;
  font-size: 17px;
  margin-left: -2px;
}

.footer {
  text-align: center;
  margin-top: 585px;
}

.footer__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  opacity: 0.5;
}

.footer__content-inner {
  display: flex;
  justify-content: space-between;
  padding: 23px 25px;
}
.footer__content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #bdc0d0;
}

.footer__home-indicator {
  width: 133px;
  height: 5px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 100px;
  margin-top: 11px;
}

/* fonts-language-adaptive */

.banner__logo-description-items.--es,
.banner__logo-description-items.--nl {
  margin-left: 55px;
  margin-top: 5px;
}

.banner__logo-description-items.--fr,
.banner__logo-description-items.--ru {
  margin-left: 50px;
  margin-top: 5px;
}
.banner__logo-title-h1.--fr,
.banner__logo-title-h1.--ru {
  font-size: 31px;
  line-height: 42px;
}
#secondBannerDescription.--fr {
  font-size: 14px;
  line-height: 18px;
}
#firstBannerDescription.--ru {
  font-size: 14px;
  line-height: 18px;
}
.btn-link.--ru {
  padding: 15px 90px;
}
#secondBannerTitle.--fr {
  margin-left: -12px;
  font-size: 16px;
}

#firstBannerPlus.--ja,
#secondBannerPlus.--ja {
  padding-top: 8px;
  margin-bottom: 1px;
}
.price-rate__title.--ja {
  margin-top: 15px;
}

.banner__logo-description-items.--ja {
  margin-left: 85px;
}

.banner__logo-description-items.--zh {
  margin-left: 110px;
  line-height: 29px;
}

.btn-link.--zh {
  padding: 15px 120px;
}

/* .banner__logo-description-items.--nl {
  margin-left: 55px;
  margin-top: 5px;
} */

/* media */

@media only screen and (max-height: 812px) {
  .price-rate-inner {
    top: 470px;
    padding: 0 30px;
  }
  .banner__logo {
    top: 195px;
  }
  .banner__logo-description-item span {
    padding-left: 8px;
  }
  .button_submit {
    top: 655px;
  }
  .footer {
    margin-top: 555px;
  }
  .banner__logo-description-items.--zh {
    margin-left: 100px;
  }
}

@media screen and (max-height: 736px) {
  .banner__header-items {
    top: 25px;
  }
  .banner__logo {
    top: 150px;
  }
  .banner__logo-description {
    margin-top: -5px;
  }
  .price-rate-inner {
    top: 410px;
    padding: 0px 50px;
  }

  .footer__content-inner {
    padding-top: 6px;
  }
  .button_submit {
    top: 595px;
  }
  .footer {
    margin-top: 495px;
  }
  .banner__logo-description-items.--es {
    margin-left: 65px;
  }
  .banner__logo-description-items.--ja {
    margin-left: 100px;
  }
  .banner__logo-description-items.--zh {
    margin-left: 125px;
  }
}

@media screen and (max-height: 667px) {
  .banner__header-items {
    top: 20px;
  }
  .banner__logo {
    top: 120px;
  }
  .banner__logo-description-item {
    margin-top: 0;
  }
  .price-rate-inner {
    top: 360px;
    padding: 0 30px;
  }
  .button_submit {
    top: 545px;
  }
  .footer {
    margin-top: 442px;
  }
  .footer__content-inner {
    padding: 8px 25px;
  }

  .banner__logo-description-item span {
    font-size: 16px;
  }
  .price-rate__price-big {
    font-size: 22px;
  }
  .banner__logo-description-items.--ja {
    margin-left: 90px;
  }
  .banner__logo-description-items.--zh {
    margin-left: 105px;
  }
}

@media screen and (max-height: 568px) {
  .banner__header-items {
    top: 15px;
  }
  .banner__logo {
    top: 80px;
  }
  .banner__logo-title-h1 {
    font-size: 32px;
    line-height: 36px;
    /* font-size: 26px; */
  }
  .banner__logo-description-items {
    margin-left: 60px;
    margin-top: -5px;
  }
  .banner__logo-description-item {
    margin-top: -2px;
  }
  .banner__logo-description-item span {
    font-size: 14px;
    padding-left: 10px;
  }

  .price-rate-inner {
    top: 290px;
    padding: 5px 25px;
  }
  .price-rate__block {
    width: 111px;
    height: 135px;
  }
  .button_submit {
    top: 450px;
  }
  .footer {
    margin-top: 365px;
  }

  .footer__content-inner {
    padding: 5px 20px;
  }

  .price-rate__title {
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
  }
  .price-rate__price-big {
    margin-top: 12px;
    font-size: 20px;
    line-height: 15px;
  }
  .price-rate__price-big-plus {
    font-size: 12px;
  }
  .price-rate__price-description {
    padding-top: 1px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    width: 118px;
    height: 18px;
  }

  .price-rate__price-little {
    margin-top: 35px;
    font-size: 12px;
    line-height: 12px;
  }

  .price-rate__price-point {
    position: absolute;
    width: 31px;
    height: 31px;
    font-size: 11px;
    line-height: 11px;
    top: -3.5px;
    right: -2.5px;
  }
  .banner__logo-description-items.--es {
    margin-left: 30px;
  }

  .banner__logo-title-h1.--fr,
  .banner__logo-title-h1.--ru {
    font-size: 26px;
    line-height: 34px;
  }

  .banner__logo-description-items.--ja {
    margin-left: 75px;
  }

  #firstBannerDescription.--fr,
  #secondBannerDescription.--fr,
  #firstBannerDescription.--ru {
    font-size: 12px;
    line-height: 18px;
  }

  .banner__logo-description-items.--zh {
    margin-left: 85px;
  }
}
